@import 'https://fonts.googleapis.com/css?family=Fjalla+One';

html{
	/*width: 100%;*/
}
body{
	background-color: #DDD;
	/*width: 100%;*/
}

#title{
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 0;
	font-family: 'Fjalla One', sans-serif;
}
#catchcopy{
	font-size: 12px;
	line-height: 1.5;
	margin-top: 5px;
	font-family: 'Fjalla One', sans-serif;
}

#mpage{
	width: 900px;
	margin: 10px auto;
	background: #FFFFFF;
}

#s1{
	display: block;
	position: absolute;
	background-position: 50%;
	width: 900px;
	height: 600px;
}
/* コンテンツ */
#backNumber{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 400px;
	width: 200px;
	background-color: blue;
}
#information{
	position: absolute;
	top: 0px;
	left: 200px;
	height: 40px;
	width: 700px;
	background-color: red;
}
#mainContent{
	position: absolute;
	top: 40px;
	left: 200px;
	height: 360px;
	width: 700px;
	background-color: yellow;
}
#links{
	position: absolute;
	top: 400px;
	left: 0px;
	height: 200px;
	width: 450px;
	background-color: green;
}
#aboutTUSPress{
	position: absolute;
	top: 400px;
	left: 450px;
	height: 200px;
	width: 450px;
	background-color: lightblue;
}
