/*h1{font-size: 40px;}
h1{color: blue;}*/

/*h1{font-size: 35px;}
h1{color: Black;}
h1{font-family: fantasy;}*/


@import 'https://fonts.googleapis.com/css?family=Fjalla+One';



#title{
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 0;
	font-family: 'Fjalla One', sans-serif;
}
#catchcopy{
	font-size: 12px;
	line-height: 1.5;
	margin-top: 5px;
	font-family: 'Fjalla One', sans-serif;
}

#s1{
	display: block;
	position: absolute;
	background-position: 50%;
}
/* コンテンツ */
#backNumber{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 600px;
	width: 1000px;
	background-color: blue;
}
#information{
	position: absolute;
	top: 0px;
	left: 420px;
	height: 100px;
	width: 1000px;
	background-color: red;
}
#mainContent{
	position: absolute;
	top: 30px;
	left: 420px;
	height: 500px;
	width: 1000px;
	background-color: yellow;
}
#links{
	position: absolute;
	top: 300px;
	left: 0px;
	height: 300px;
	width: 500px;
	background-color: green;
}
#aboutTUSPress{
	position: absolute;
	top: 300px;
	left: 280px;
	height: 300px;
	width: 500px;
	background-color: lightblue;
}
#daily{
	position: absolute;
	top: 300px;
	left: 560px;
	height: 300px;
	width: 500px;
	background-color: lightgreen;
}



/*
#pagefoot{
	border-top: solid 1px #CCCCCC;
	margin-top: 15px;
	font-family: 'Fjalla One', sans-serif;
	clear: both;
}

#pagebodymain{
	width: 720px;
	float: right;
}
#pagebodysub{
	width: 220px;
	float: left;
}*/

#mpage{
	width: 900px;
	margin: 10px auto;
	background: #FFFFFF;
}


html{
	padding: 20px
}